iframe {
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  --antd-wave-shadow-color: #ffc107 !important;
}

.ant-btn {
  line-height: 26px !important;
  border-color: #d7e41e1d !important;
}

.ant-btn:focus {
  color: #fff !important;
  border-color: #ffc107 !important;
}

.ant-btn:hover {
  color: #212121 !important;
  border-color: #ffc107 !important;
}

.ant-btn-primary {
  color: #ffc107 !important;
  background: #d7e41e1d !important;
  border-color: #d7e41e1d !important;
  line-height: 26px !important;
}

.ant-input-number:focus,
.ant-input-number-focused {
  border-color: #ffc107ff !important;
}

.ant-btn-primary:hover {
  color: #212121 !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.ant-modal-header {
  text-align: center !important;
  border-radius: 16px !important;
  background-color: #212121 !important;
  border-bottom: none !important;
}

.ant-modal-body {
  color: white !important;
}

.ant-modal-footer {
  border-top: none !important;
}

.ant-modal-title {
  color: #ffc107 !important;
  font-weight: bold !important;
}

.ant-modal-close-x {
  color: #ffc107 !important;
}

.ant-modal-content {
  border-radius: 16px !important;
  background-color: #212121 !important;
}

.ant-modal-confirm-btns {
  border-radius: 16px !important;
  color: #ea6060 !important;
}

.ant-message {
  font-weight: bold !important;
  line-height: 14px !important;
}

.ant-message-notice-content {
  border-radius: 14px !important;
}

.ant-message-loading .anticon {
  color: #ea6060 !important;
}

.ant-card {
  width: 100% !important;
  background-color: #212121 !important;
  color: white !important;
  border: none !important;
  border-radius: 16px !important;
}

.ant-card:hover {
  background-color: #ffc107 !important;
  color: black !important;
}

.ant-card .ant-card-body .ant-card-meta-detail > div {
  color: white !important;
  font-weight: bold !important;
}

.ant-card:hover .ant-card-body .ant-card-meta-detail > div {
  color: black !important;
  font-weight: bold !important;
}

.ant-card > div {
  color: white !important;
  font-weight: bold !important;
}

.ant-card:hover > div {
  color: black !important;
  border-bottom: 1px solid black !important;
  font-weight: bold !important;
}

.ant-progress-text {
  color: white !important;
}

.ant-card:hover .ant-progress-text {
  color: black !important;
}

.ant-progress-circle-path {
  stroke: #ffc107 !important;
}

.ant-card:hover .ant-progress-circle-path {
  stroke: #000 !important;
}

.ant-alert-banner {
  border-radius: 16px !important;
}

.ant-input-number:hover {
  border-color: #d7e41e1d !important;
}

.ant-input-number:focus,
.ant-input-number-focused {
  box-shadow: 0 0 0 2px rgb(255 216 24 / 20%) !important;
}

.ant-typography-expand,
.ant-typography-edit,
.ant-typography-copy {
  color: #ea6060 !important;
}

.ant-typography {
  color: #fff !important;
}

.ant-card:hover .ant-typography {
  color: #000 !important;
}
